formulaic==1.2.*
google-genai==1.28.*
ipykernel
ipywidgets
matplotlib
numpy
openai==1.107.*
openpyxl
pandas
plotly
python-dotenv
scikit-learn
scipy
seaborn
statannotations==0.7.*
statsmodels==0.14.*
torch==2.7.*
tqdm
